body{
    background-color:rgb(25, 173, 57);
}
.div0{
    position:relative;
    width:80%;
    border:2px solid black;
    height:30px;
}
h1{
    position: absolute;
    font-size:10px;
    left:50%;
    border:2px solid black;
}
.div0>div{
   float:left;
   width:33.3333%;
   border:2px solid black;
}
